body{
    background-image: url(paper2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
   

}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 80vh;
    width: 350px;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h4 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
    position: absolute;
    top: 0;
}

.form-box{
   display: flex;
   flex-direction: column;
    width: 85%;

}

.form-box input, button{
    padding: 16px;
    border-radius: 60px;
    border: none;
    margin: 10px;
    outline: none;
    font-size: 14px;
    font-family: sans-serif;
    
}

.form-box input{
    background-color: rgba(243, 224, 199, 0.849);
    color: black;
    letter-spacing: 1px;
    text-indent: 10px;
}

.form-box input::placeholder{
    font-size: 14px;
    color: black;
    
}

.form-box button{
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
   
}

.form-box button:hover{
    background-color: rgb(231, 188, 132);
    color: black;
}

.form-box button:active{
    background-color: white;
    color: black;
    opacity: 0.5;
}


.suggest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: black;
} 

.forgotpass{
    color:  rgb(231, 188, 132);
    cursor: pointer;
}

.forgotpass .link{
 text-decoration: none;
 color:  rgb(231, 188, 132);
}

